$primaryColor:#3fb55e;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#ff4081;
$accentTextColor:#ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../designer/_components';
@import '../../extensions/_vendor_extensions';
