<!-- <div class="container-fluid">
    <h5 style="text-align: center" class="mark"
        pTooltip="Il s'agit de la gestion des Catégories de produits de votre entreprise" tooltipPosition="top">Vos
        différentes
        catégories de produits</h5>
    <div class="p-2 h-full w-full flex flex-column justify-content-between">
        <div class="flex align-items-center justify-content-between mb-3">
            <div class="p-col-6">
            </div>
            <div *ngIf="droits.includes('AJOUTER_CATEGORIE')" class="flex align-items-center gap-2 ">
                <button (click)="onDisplayDialog()" pButton pRipple
                        class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus"
                        label="Nouvelle catégorie"></button>
            </div>
        </div>
    </div>
    <div class="card">
        <p-toast position="top-center"></p-toast>
        <p-table #dt [value]="categories" [paginator]="true" [loading]="loading" [rows]="25"
                 responsiveLayout="scroll" [rowHover]="true"
                 [rowsPerPageOptions]="[25,50,100]"
                 [globalFilterFields]="['libelle']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
                                   placeholder="Rechercher magasin" class="w-full"/>
						</span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Libellé de la catégorie
                        </div>
                    </th>
                    <th style="border-left: none;">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-categorie>
                <tr>
                    <td>{{ categorie.libelle }}</td>
                    <td style="border-left: none;">
                        <p-menu #menu appendTo="body" [popup]="true" [model]="menuitems"></p-menu>
                        <div class="flex justify-content-end">
                            <button (click)="selectedItem = categorie" (click)="menu.toggle($event)" pButton pRipple
                                    icon="pi pi-ellipsis-h" class="p-button-text p-button-rounded text-900"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" style="text-align: center">Aucune Catégorie disponible</td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog [(visible)]="display" [style]="{width: '50vw'}" header="Détail " [modal]="true" class="p-fluid">
            <p-header>
                <span class="font-weight-bold text-primary p-2">Enregistrement d'une catégorie</span>
            </p-header>
            <form (ngSubmit)="save(editForm)" name="editForm" role="form" novalidate #editForm="ngForm" class="p-mb-3"
                  novalidate>

                <div class="grid p-fluid mt-3">

                    <div class="field col-12 md:col-12">
                        <label style="font-weight:bold;">Libellé de la Catégorie<span
                            style="color: red">*</span></label>
                        <input name="nom" type="text" pInputText [(ngModel)]="categorie.libelle" [required]="true"/>
                    </div>
                </div>

                <div class="grid p-fluid mt-0">
                    <div class="field col-12 md:col-6"></div>
                    <div class="field col-12 md:col-3">
                        <button pButton pRipple label="Annuler" (click)="annuler()" type="button"
                                class="p-button-secondary p-mr-2 p-mb-2 font-weight-bold"
                                icon="pi pi-fw pi-times">
                        </button>
                    </div>
                    <div class="field col-12 md:col-3">
                        <button pButton pRipple label="Enregistrer" icon="pi pi-fw pi-check"
                                class="p-button-primary p-mr-2 p-mb-2 font-weight-bold"
                                type="Submit" [disabled]="editForm.invalid">
                        </button>
                    </div>
                </div>
            </form>
        </p-dialog>
        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button (click)="cd.reject()" class="p-button-secondary" icon="pi pi-times" label="NON"
                        pButton type="button"></button>
                <button (click)="cd.accept()" class="p-button-danger" icon="pi pi-check" label="OUI"
                        pButton type="button"></button>
            </p-footer>
        </p-confirmDialog>
    </div>
</div>
 -->
<p-toast position="top-center"></p-toast>
<div class="spinner-overlay" *ngIf="chrgmt">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
 <div style="display: flex">
    <div class="card primary" style="height: 100%;">
        <div class="header55">
        <h1>Forme</h1>
        <div class="header-actions">
            <button *ngIf="droits.includes('AJOUTER_CATEGORIE')" class="p-button-primary small-button" (click)="add(null)"
            ><i class="pi pi-plus"></i>Nouveau</button>

            <p-menu #menu appendTo="body" [popup]="true" [model]="items!"></p-menu>
            <div class="flex justify-content-end">
                <button (click)="menu.toggle($event)" pButton pRipple
                        icon="pi pi-ellipsis-h" class="p-button-text p-button-rounded text-900"></button>
            </div>

        </div>
    </div>
        <p-table #dt [value]="categories" [paginator]="true" [loading]="loading" [rows]="25"
                 responsiveLayout="scroll" [rowHover]="true"
                 [rowsPerPageOptions]="[25,50,100]"
                 [globalFilterFields]="['libelle']">
            <ng-template pTemplate="caption">
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Libellé
                        </div>
                    </th>
                    <th style="border-left: none; background-color: rgb(236,236,236)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-categorie>
                <tr>
                    <td>{{ categorie.libelle }}</td>
                    <td style="border-left: none;">
                        <button   *ngIf="droits.includes('MODIFIER_CATEGORIE')" (click)="add(categorie)"
                                 class="p-button-primary small-button mr-2"
                                 icon="pi pi-pencil" pTooltip="Modifier"
                                 pButton
                                 type="button"></button>

                        <button  *ngIf="droits.includes('SUPPRIMER_CATEGORIE')" (click)="deleteElement(categorie)"
                                 class="p-button-danger small-button"
                                 icon="pi pi-trash" pTooltip="Supprimer"
                                 pButton
                                 type="button"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" style="text-align: center">Aucune Forme disponible.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog position="top" header="Créer une forme de produit" [modal]="true" [(visible)]="display" [style]="{ width: '35rem' }">
            <form (ngSubmit)="save(editForm)" name="editForm" role="form" novalidate #editForm="ngForm" class="p-mb-3">
                <div class="grid p-fluid mt-3">

                    <div class="field col-12 md:col-12">
                        <label style="font-weight:bold;">Libellé de la forme<span
                            style="color: red">*</span></label>
                        <input name="nom" type="text" pInputText [(ngModel)]="categorie.libelle" [required]="true"/>
                    </div>
                </div>

                <div class="flex justify-content-end gap-2">
                    <button type="button" (click)="annuler()" class="btn btn-secondary">
                        Annuler
                    </button>
                    <button type="Submit" [disabled]="editForm.invalid" class="btn btn-primary">
                        <i *ngIf="loading && display" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                        <span *ngIf="display">Enregistrer</span>
                        <span *ngIf="loading && display">Enregistrement...</span>
                    </button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle"
                 position="top" >
    <p-footer style="display: flex;">
        <button class="btnannulate" (click)="cd.reject()"
        ><i class="pi pi-close"></i>Annuler</button>
        <button class="btnvalidate" (click)="cd.accept()"
        ><i class="pi pi-confirm"></i>Confirmer</button>
    </p-footer>
</p-confirmDialog>
