<p-toast position="top-center"></p-toast>
<div *ngIf="chrgmt" class="spinner-overlay">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
<div *ngIf="!createOrModify" class="container1">
    <div class="header-special">
        <p style="font-size: large; margin-bottom: 25px">
            <i class="pi pi-shopping-bag" style="font-size: 1.5rem"></i>
            ventes
        </p>
    </div>
    <div class="flex radio-buttons" style="margin-bottom: 9px">
        <p-radioButton (onClick)="clearDropdowns()" [(ngModel)]="selectedType" label="Non Assuré" name="assurance"
                       value="nonAssure"></p-radioButton>&nbsp;&nbsp;
        <p-radioButton (onClick)="clearDropdowns()" [(ngModel)]="selectedType" label="Assuré" name="assurance"
                       value="assure"></p-radioButton>&nbsp;&nbsp;
    </div>

    <p-messages [(value)]="messages!" [enableService]="false" [style]="{width: '50%'}"></p-messages>
    <form #factureForm="ngForm" autocomplete="off" name="factureForm" novalidate role="form">
        <div class="form-container111">
            <div class="form-group">
                <label for="bonCommandeNumber">N° de la vente <span style="color: red">*</span></label>
                <div class="input-with-button">
                    <input [(ngModel)]="newBonCommandeNumber" disabled id="bonCommandeNumber" name="bonCommandeNumber"
                           pInputText type="text">
                    <button (click)="customizeBonCommandeNumber()" class="icon-button" type="button">
                        <i class="pi pi-cog"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="nomAssure">Nom complet de l'adhérent</label>
                <input [(ngModel)]="nomAssure" id="nomAssure" name="nomAssure"
                       pInputText placeholder="Entrer le nom complet de l'assuré" type="text">
            </div>
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="nomPatient">Nom complet du patient</label>
                <input [(ngModel)]="nomPatient" id="nomPatient" name="nomPatient"
                       pInputText placeholder="Entrer le nom complet du patient" type="text">
            </div>
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="matriculeAssure">Matricule de l'adhérent</label>
                <input [(ngModel)]="matriculeAssure" id="matriculeAssure" name="matriculeAssure"
                       pInputText placeholder="Entrer le matricule" type="text">
            </div>
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="codeIDAssure">Code ID de l'adhérent</label>
                <input [(ngModel)]="codeIDAssure" id="codeIDAssure" name="codeIDAssure" pInputText
                       placeholder="Entrer le Code ID" type="text">
            </div>
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="agePatient">Âge du patient</label>
                <input [(ngModel)]="agePatient" id="agePatient" name="agePatient" pInputText
                       placeholder="Entrer l'âge du patient" type="number">
            </div>
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="sexePatient">Sexe du patient</label>
                <p-dropdown [(ngModel)]="sexePatient" [options]="sexeOptions" placeholder="Sélectionner le sexe"
                            id="sexePatient" name="sexePatient" [style]="{width: '100%'}">
                </p-dropdown>
            </div>

            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="relationAssure">Relation avec l'adhérent</label>
                <input [(ngModel)]="relationAssure" id="relationAssure" name="relationAssure"
                       pInputText placeholder="Ex: Conjoint, Enfant" type="text">
            </div>
<!--            <div class="form-group">
                <label for="dateFacture">Date</label>
                <p-calendar [(ngModel)]="dateFacture" [style]="{width: '100%'}" dateFormat="dd MM yy" id="dateFacture"
                            name="dateFacture"></p-calendar>
            </div>-->
            <div *ngIf="selectedType === 'assure'" class="form-group">
                <label for="assurance">Assurance (%)</label>
                <p-dropdown
                    (onChange)="onGlobalAssuranceChange()"
                    [(ngModel)]="selectedAssurance"
                    [options]="assurances"
                    [showClear]="true"
                    id="assurance"
                    name="assurance"
                    [style]="{ width: '100%' }"
                    appendTo="body"
                    optionLabel="libelle"
                    placeholder="Sélectionner une assurance"
                >
                    <ng-template let-assurances pTemplate="item">
                        <div class="flex align-items-center fournisseurs-item">
                            <div>{{ assurances?.libelle }} &nbsp;&nbsp; [{{ assurances?.hauteur }}%]</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        <div>{{ item?.libelle }} &nbsp;&nbsp; [{{ item?.hauteur }}%]</div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="container2">
            <!-- 1ère partie : product-selection à gauche -->
            <div class="product-selection">
                <p-table #dt1
                         (onRowSelect)="onRowSelected($event)"
                         (onRowUnselect)="onRowUnselected($event)"
                         [(selection)]="selectedProducts"
                         [globalFilterFields]="['nom', 'categorieLibelle','familleLibelle']"
                         [loading]="loading"
                         [paginator]="false"
                         [responsive]="true"
                         [rowHover]="true"
                         [scrollable]="true"
                         [scrollHeight]="'400px'"
                         [selectionMode]="'multiple'"
                         [value]="articleOptions"
                         responsiveLayout="scroll"
                         styleClass="product-table custom-table">
                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row align-items-center">

                        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #filter (input)="onGlobalFilter(dt1, $event)" class="w-full" pInputText
                       placeholder="Rechercher" type="text"/>
            </span>
                            <h4 class="mb-2 sm:mb-0">Liste des produits</h4>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 50px;">
                                <input  *ngIf="1<0" type="checkbox"
                                       [checked]="isAllSelected()"
                                       (change)="toggleAllSelection($event)">
                            </th>
                            <th>Nom du produit</th>
                            <th>Prix (FCFA)</th>
                            <th>Quantitité</th>
                            <th>Forme</th>
<!--                            <th>Famille</th>-->
                        </tr>
                    </ng-template>
                    <ng-template let-index="rowIndex" let-product pTemplate="body">
                        <tr
                            [pSelectableRow]="product">
                            <td>
                                <input type="checkbox"
                                       [checked]="isProductSelected(product)"
                                       (change)="onCheckboxChange($event, product)">
                            </td>
                            <td style="font-weight: bold">{{ product.nom }}</td>
                            <td>{{ product.prixventettc | customNumber }}</td>
                            <td>{{ product.quantiteTotal | customNumber }}</td>
                            <td>{{ product.categorieLibelle }}</td>
<!--                            <td>{{ product.familleLibelle }}</td>-->
                        </tr>
                    </ng-template>
                </p-table>

                <!-- 4ème partie : Montant total et Nbr vente avec bouton Historique -->
                <div class="totals-summary">
                    <div class="total-amount">
                        <label class="total-label">
                            <span class="title">Total vente:</span>
                            <span class="amount">{{ ventesDuJourData.montantEncaisse }} FCFA</span>
                        </label>
                        <label class="total-label">
                            <span class="title">Nombre de ventes:</span>
                            <span class="amount">{{ ventesDuJourData.nombreVentes }} ventes</span>
                        </label>
                    </div>
                    <button (click)="retour()" class="historique-button" icon="pi pi-eye"
                            pButton pTooltip="Historiques des ventes">
                    </button>
                </div>

            </div>

            <!-- 2ème partie : Tableau d'articles à droite -->
            <div class="article-section">
                <p style="font-size: medium; margin-top: 30px; font-weight: bold">Tableau de produits sélectionnés</p>
                <div class="table-wrapper">
                    <table class="article-table">
                        <thead>
                        <tr>
                            <th>PRODUIT</th>
                            <th>QUANTITÉ</th>
                            <th>PRIX (FCFA)</th>
                            <th>MONTANT (FCFA)</th>
                            <th *ngIf="bonCommande.id==null" class="small-column"></th>
                        </tr>
                        </thead>
                        <tbody class="table-body-scroll">
                        <tr *ngFor="let article of articles; let i = index">
                            <td>{{ article.produitNom }}</td>
                            <td>
                                <p-inputNumber
                                    (onInput)="onQuantiteChange($event, i)"
                                    [(ngModel)]="article.quantite"
                                    [maxFractionDigits]="2"
                                    [max]="article.initialQuantite"
                                    [minFractionDigits]="0"
                                    [min]="1"
                                    [name]="'article-' + i + '-quantite'"
                                    [showButtons]="true"
                                    [allowEmpty]="true"
                                    [style]="{ width: '100%' }"
                                    locale="de-DE"
                                    mode="decimal"
                                    pInputNumber
                                ></p-inputNumber>
                                <div *ngIf="article.produitId && article.magasin">
                            <span [ngStyle]="{ color: 'red' }">
                                quantité max : {{ article.initialQuantite | customNumber }}
                            </span>
                                </div>
                            </td>
                            <td>
                                <span *ngIf="bonCommande.id">{{ article.produitPrix }}</span>
                                <p-inputNumber
                                    (onInput)="onPrixChange($event, i)"
                                    *ngIf="!bonCommande.id"
                                    [(ngModel)]="article.produitPrix"
                                    [minFractionDigits]="0"
                                    [min]="0"
                                    [name]="'article-' + i + '-prix'"
                                    [showButtons]="true"
                                    [style]="{ width: '100%' }"
                                    locale="de-DE"
                                    pInputNumber
                                ></p-inputNumber>
                            </td>
                            <td>{{ article.montant.toFixed(2) | customNumber }}</td>
                            <td *ngIf="bonCommande.id==null" class="small-column">
                                <button (click)="supprimerLigne(i)"

                                        class="small-button"
                                        icon="pi pi-trash"
                                        pButton
                                        pTooltip="Supprimer le produit de le liste"
                                        tooltipPosition="top"
                                        type="button"></button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="selectedType != 'assure'" class="totals-section"
                     style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <label style="font-weight: bold;">Total (FCFA) :</label>
                    </div>
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <span style="font-weight: bold; font-size: 15px">{{ total | customNumber }} FCFA</span>
                    </div>
                </div>
                <div  *ngIf="selectedType === 'assure'" class="totals-section"
                     style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <label style="font-weight: bold;">Montant total :</label>
                    </div>
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <span style="font-weight: bold; font-size: 15px">{{ total | customNumber }} FCFA</span>
                    </div>
                </div>
                <div  *ngIf="selectedType === 'assure'" class="totals-section"
                      style="display: flex; justify-content: space-between; align-items: center; gap: 10px; ">
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <label style="font-weight: bold;">Prise en charge par l'assurance :</label>
                    </div>
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <span style="font-weight: bold; font-size: 15px">{{ montantAssurance | customNumber }} FCFA</span>
                    </div>
                </div>
                <div  *ngIf="selectedType === 'assure'" class="totals-section"
                      style="display: flex; justify-content: space-between; align-items: center; gap: 10px;
                        background-color: #74dfaf;">
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <label style="font-weight: bold;">Montant à payer :</label>
                    </div>
                    <div class="totalss-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <span style="font-weight: bold; font-size: 15px">{{ montantAPayer | customNumber }} FCFA</span>
                    </div>
                </div>
                <div class="payment-section"
                     style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
                    <!-- Montant donné -->
                    <div class="payment-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <label style="font-weight: bold;">Montant donné par le client (FCFA) :</label>
                        <p-inputNumber (onInput)="calculerMonnaie($event)"
                                       [(ngModel)]="montantDonne"
                                       [maxFractionDigits]="2"
                                       [minFractionDigits]="0"
                                       [min]="0"
                                       [allowEmpty]="true"
                                       [showButtons]="true"
                                       class="input-field"
                                       locale="de-DE"
                                       mode="decimal"
                                       name="montantDonne"
                                       pInputNumber></p-inputNumber>
                    </div>

                    <!-- Monnaie à rendre -->
                    <div class="payment-row" style="flex: 1; display: flex; align-items: center; gap: 10px;">
                        <label style="font-weight: bold;">Monnaie à rendre (FCFA) :</label>
                        <span style="font-size: 16px; color: green; font-weight: bold;">
                            {{ monnaie | customNumber }}
                        </span>
                    </div>
                </div>

                <div class="layout-footer">
                    <span class="footer-buttons">
                        <button
                            (click)="onSubmit(factureForm)"
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="!hasValidQuantities()"> <!-- Désactiver si aucune quantité valide -->
                              <span>Enregistrer</span>
                            </button>
                        <button (click)="annler()" class="btn btn-secondary" type="button">
                            Annuler
                        </button>
                    </span>
                </div>

            </div>
        </div>

        <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
            {{ errorMessage }}
        </div>

    </form>
</div>

<p-dialog [(visible)]="display" header="Vente Article" [modal]="true" [style]="{width: '80%', height: '90%'}" [closable]="true">
    <app-vente-article></app-vente-article>
    <ng-template pTemplate="footer">
        <button type="button" pButton label="Fermer" class="p-button-secondary" (click)="display = false"></button>
    </ng-template>
</p-dialog>


<div *ngIf="createOrModify" style="display: flex; ">
    <div [ngClass]="{'shrink': isSecondaryActive}" class="card primary" style="height: 100%;">
        <div class="header55">
            <h1>Toutes les ventes</h1>
            <div class="header-actions">
                <button (click)="createModify({})" *ngIf="droits.includes('AJOUTER_FACTURE_CLIENT')"
                        class="p-button-primary small-button" pButton><i
                    class="pi pi-plus"></i>Nouvelle Vente
                </button>
                <button class="p-button-secondary small-button p-button-icon-only" icon="pi pi-ellipsis-v"
                        pButton></button>
            </div>
        </div>
        <p-toolbar *ngIf="selectedfactures.length>0">
            <div class="p-toolbar-group-left">
                <button (click)="effectuer_paiement_en_bloc()" class="p-button-outlined" icon="pi pi-money-bill"
                        label="Paiement en bloc" pButton
                        type="button"></button>
                <span>{{ selectedfactures.length }} Facture(s) sélectionné</span>
            </div>
        </p-toolbar>
        <p-table #dt
                 [(selection)]="selectedfactures"
                 [globalFilterFields]="['dateFacture', 'numeroFacture', 'reference', 'client.nom', 'statut', 'dateEcheance', 'montantTotal', 'reste']"
                 [loading]="loading"
                 [paginator]="true"
                 [rowHover]="true"
                 [rows]="pageSize"
                 [totalRecords]="totalItems"
                 [value]="filteredFactures"
                 [lazy]="true"
                 (onPage)="onPageChange($event)"
                 [rowsPerPageOptions]="[5, 10, 25, 50]"
                 currentPageReportTemplate="{first} à {last} sur {totalRecords}"
                 dataKey="id"
                 responsiveLayout="scroll"
                 selectionMode="single">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input #filter [(ngModel)]="searchTerm"
                                   (input)="onSearch()" class="w-full" pInputText
                                   placeholder="Rechercher" type="text"/>
						</span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="large-row">
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Date
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            N° de la vente
                        </div>
                    </th>

                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Fait par
                        </div>
                    </th>

                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Montant
                        </div>
                    </th>

                </tr>
            </ng-template>
            <ng-template let-facture pTemplate="body">
                <tr (click)="onRowSelect(facture)" [pSelectableRow]="facture" class="large-row"
                    style="padding-top: 10px; padding-bottom: 10px;">
                    <td>{{ facture.createdDate | ArrayToDatePipe }}</td>
                    <td>{{ facture.numero }}</td>
                    <td>{{ facture.createdBy }}</td>
                    <td>{{ facture.montant_total | customNumber }} FCFA</td>
                    </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Au total il y a {{ totalItems }} Vente(s).
                </div>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div [ngClass]="{'active': isSecondaryActive}" class="card secondary" style="height: 100%;">
        <div class="headerfact">
            <div class="facture-header">
                <h5>{{ facture.numero }}</h5>
                <span (click)="close()" class="close-button">&#10006;</span>
            </div>
            <div class="actions">
                <button (click)="createModify(facture)"
                        *ngIf="facture.montant_total===facture.reste  && droits.includes('MODIFIER_FACTURE_CLIENT')"
                        class="btn">
                    <i class="pi pi-pencil"></i> Modifier
                </button>
                <button (click)="imprimerTicketThermique(facture)" class="btn">
                    <i class="pi pi-print"></i> Imprimer le Ticket
                </button>
                <button (click)="generatePDF()" class="btn">
                    <i class="pi pi-file-pdf"></i> PDF/Impression <i class="fas fa-caret-down"></i>
                </button>
                <button (click)="deleteElement(facture)"
                        *ngIf="facture.montant_total===facture.reste  && droits.includes('SUPPRIMER_FACTURE_CLIENT')"
                        class="btn"
                ><i class="pi pi-trash"></i>Supprimer
                </button>

                <button class="btn">
                    <i class="pi pi-ellipsis-v"></i>
                </button>
            </div>
        </div>

        <br>
        <h6 *ngIf="!recuState">Vue en mode PDF
            <p-inputSwitch [(ngModel)]="checked"/>
        </h6>
        <div *ngIf="!recuState && !checked" >
            <div class="surface-card p-4 shadow-2 border-round">
                <!-- En-tête du reçu -->
                <div class="text-center mb-5">
                    <div class="text-3xl font-bold text-900 mb-3">REÇU DE PAIEMENT</div>
                    <div class="text-500 mb-2">Date : {{ facture.createdDate | ArrayToDatePipe }}</div>
                    <div class="text-600">N° de la vente : {{ facture.numero }}</div>
                    <div *ngIf="facture.assure" class="status-container">
                        <span class="status-title">Statut:</span>
                        <span [ngClass]="{
                        'status-en-attente': facture.rembourseParAssureur === false,
                        'status-payee': facture.rembourseParAssureur === true
                    }">
                        {{ formatStatus(facture.rembourseParAssureur!) }}
                    </span>
                    </div>
                </div>

                <!-- Informations du patient -->
                <p-card *ngIf="facture.assure" styleClass="mb-4">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold text-900 mb-3">Informations Patient</div>
                    </ng-template>
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Nom de l'adhérent</div>
                            <div class="text-900 font-medium">{{ facture.nomAssure }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Matricule</div>
                            <div class="text-900 font-medium">{{ facture.matriculeAssure }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Code ID</div>
                            <div class="text-900 font-medium">{{ facture.codeIDAssure }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Patient</div>
                            <div class="text-900 font-medium">{{ facture.nomPatient }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Sexe</div>
                            <div class="text-900 font-medium">{{ facture.sexePatient }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Âge</div>
                            <div class="text-900 font-medium">{{ facture.agePatient }} ans</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Relation avec l'adhérent</div>
                            <div class="text-900 font-medium">{{ facture.relationAssure }}</div>
                        </div>
                    </div>
                </p-card>

                <!-- Détails des produits -->
                <p-card styleClass="mb-4">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold text-900 mb-3">Détails des produits</div>
                    </ng-template>
                    <p-table [value]="commandes" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Produits</th>
                                <th class="text-right">Quantité</th>
                                <th class="text-right">Prix</th>
                                <th class="text-right">Montant</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.produitNom }}</td>
                                <td class="text-right">{{ item.quantite | customNumber }}</td>
                                <td class="text-right">{{ item.produitPrix | customNumber }} FCFA</td>
                                <td class="text-right">{{ (item.quantite * item.produitPrix) | customNumber }} FCFA</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>

                <!-- Résumé du paiement -->
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold text-900 mb-3">Détails du paiement</div>
                    </ng-template>
                    <div class="flex flex-column gap-3">
                        <div *ngIf="facture.assure" class="flex justify-content-between align-items-center">
                            <span class="text-600">Montant réglé par l'assusrane  ({{facture.assuranceValue }}%):</span>
                            <span class="text-900 font-medium">{{ facture.montantAssurance | customNumber }} FCFA</span>
                        </div>
                        <p-divider></p-divider>
                        <div class="flex justify-content-between align-items-center">
                            <span class="text-900 font-bold text-xl">Total payé:</span>
                            <span class="text-900 font-bold text-xl">{{ (facture.montant_total! - facture.montantAssurance!) | customNumber }} FCFA</span>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
        <div *ngIf="checked" class="receipt-container" id="commandeClient">
            <header class="company-header">
                <div class="company-info">
                    <div class="company-name-section">
                        <h2 class="company-name">{{ societegetted.nom }}</h2>

                    </div>
                    <div class="contact-and-date">
                        <p>Burkina Faso</p>
                        <div class="company-contact">
                            <p>Tél: {{ societegetted.tel }}</p>
                            <p>Email: {{ societegetted.email }}</p>
                        </div>
                        <div class="date-info">
                            <p>Ouagadougou le : {{ facture.createdDate | customDate }}</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="surface-card p-4 shadow-2 border-round">
                <!-- En-tête du reçu -->
                <div class="text-center mb-5">
                    <div class="text-3xl font-bold text-900 mb-3">REÇU DE PAIEMENT</div>
                    <div class="text-600">N° de la vente : {{ facture.numero }}</div>
                    <div *ngIf="facture.assure" class="status-container">
                        <span class="status-title">Statut:</span>
                        <span [ngClass]="{
                        'status-en-attente': facture.rembourseParAssureur === false,
                        'status-payee': facture.rembourseParAssureur === true
                    }">
                        {{ formatStatus(facture.rembourseParAssureur!) }}
                    </span>
                    </div>
                </div>

                <!-- Informations du patient -->
                <p-card *ngIf="facture.assure" styleClass="mb-4">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold text-900 mb-3">Informations Patient</div>
                    </ng-template>
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Nom de l'adhérent</div>
                            <div class="text-900 font-medium">{{ facture.nomAssure }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Matricule</div>
                            <div class="text-900 font-medium">{{ facture.matriculeAssure }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Code ID</div>
                            <div class="text-900 font-medium">{{ facture.codeIDAssure }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Patient</div>
                            <div class="text-900 font-medium">{{ facture.nomPatient }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Sexe</div>
                            <div class="text-900 font-medium">{{ facture.sexePatient }}</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Âge</div>
                            <div class="text-900 font-medium">{{ facture.agePatient }} ans</div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="text-500 mb-2">Relation avec l'adhérent</div>
                            <div class="text-900 font-medium">{{ facture.relationAssure }}</div>
                        </div>
                    </div>
                </p-card>

                <!-- Détails des produits -->
                <p-card styleClass="mb-4">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold text-900 mb-3">Détails des produits</div>
                    </ng-template>
                    <p-table [value]="commandes" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Produits</th>
                                <th class="text-right">Quantité</th>
                                <th class="text-right">Prix</th>
                                <th class="text-right">Montant</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.produitNom }}</td>
                                <td class="text-right">{{ item.quantite | customNumber }}</td>
                                <td class="text-right">{{ item.produitPrix | customNumber }} FCFA</td>
                                <td class="text-right">{{ (item.quantite * item.produitPrix) | customNumber }} FCFA</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>

                <!-- Résumé du paiement -->
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold text-900 mb-3">Détails du paiement</div>
                    </ng-template>
                    <div class="flex flex-column gap-3">
                        <div *ngIf="facture.assure" class="flex justify-content-between align-items-center">
                            <span class="text-600">Montant réglé par l'assusrane  ({{facture.assuranceValue }}%):</span>
                            <span class="text-900 font-medium">{{ facture.montantAssurance | customNumber }} FCFA</span>
                        </div>
                        <p-divider></p-divider>
                        <div class="flex justify-content-between align-items-center">
                            <span class="text-900 font-bold text-xl">Total payé:</span>
                            <span class="text-900 font-bold text-xl">{{ (facture.montant_total! - facture.montantAssurance!) | customNumber }} FCFA</span>
                        </div>
                    </div>
                </p-card>
            </div>

        </div>
    </div>
</div>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle"
                 position="top">
    <p-footer style="display: flex;">
        <button (click)="cd.reject()" class="btnannulate"
        ><i class="pi pi-close"></i>Annuler
        </button>
        <button (click)="cd.accept()" class="btnvalidate"
        ><i class="pi pi-confirm"></i>Confirmer
        </button>
    </p-footer>
</p-confirmDialog>
