
body {
    font-family: Arial, sans-serif;

}

.creance-details {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
    height:auto;
}

.creance-details-body {
    line-height: 1.5;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

