<div class="layout-breadcrumb-container">
    <nav class="layout-breadcrumb">

    </nav>
    <div class="layout-breadcrumb-buttons">
<!--        <button pButton pRipple type="button" icon="pi pi-cloud-upload" class="p-button-rounded p-button-text p-button-plain"></button>-->
<!--        <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-text p-button-plain"></button>-->
        <button (click) ="handleLogout()" pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div>
