<p-toast position="top-center"></p-toast>
<div *ngIf="chrgmt" class="spinner-overlay">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
<div *ngIf="!displayForm" style="display: flex">
    <div class="card primary" [ngClass]="{'shrink': isSecondaryActive}" style="height: 100%;">
        <div class="header55">
            <h1>Fournisseur</h1>
            <div class="header-actions">
                <button class="p-button-primary small-button" (click)="add(null)" *ngIf="droits.includes('AJOUTER_FOURNISSEUR')"
                ><i class="pi pi-plus"></i>Nouveau</button>

                <!-- Bouton d'options pour les fournisseurs -->
                <button #optionsButtonFournisseur class="p-button-secondary small-button p-button-icon-only" icon="pi pi-ellipsis-v"
                        pButton type="button" (click)="opFournisseur.toggle($event, optionsButtonFournisseur)"></button>

                <!-- Overlay Panel pour les options d'exportation des fournisseurs -->
                <p-overlayPanel #opFournisseur>
                    <div class="button-group">
                        <button [disabled]="fournisseurs.length === 0" type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportFournisseurListPDF()" class="p-button-success mr-2" label="Export Excel"></button>
                        <button [disabled]="fournisseurs.length === 0" type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportFournisseurListPDF()" class="p-button-warning mr-2" label="Export PDF"></button>
                    </div>
                </p-overlayPanel>
            </div>
        </div>
        <p-table #dt [value]="fournisseurs" [paginator]="true" [loading]="loading" [rows]="25"
                 responsiveLayout="scroll" [rowHover]="true"
                 [rowsPerPageOptions]="[25,50,100]"
                 [globalFilterFields]="['nom','prenom', 'telephone', 'cnib', 'entreprise']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
                                   placeholder="Rechercher fournisseur" class="w-full"/>
						</span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Nom
                        </div>
                    </th>
                    <th style="min-width: 12rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Prénom(s)
                        </div>
                    </th>
                    <th style="min-width: 12rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Entreprise
                        </div>
                    </th>
                    <th style="min-width: 12rem;  background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Téléphone
                        </div>
                    </th>
                    <th style="min-width: 12rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Adresse
                        </div>
                    </th>
                    <th style="min-width: 12rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            CNIB
                        </div>
                    </th>

                </tr>
            </ng-template>
            <ng-template let-fournisseur pTemplate="body">
                <tr (click)="onRowSelect(fournisseur)">
                    <td>{{fournisseur.nom}}</td>
                    <td>{{fournisseur.prenom}}</td>
                    <td>{{fournisseur.entreprise}}</td>
                    <td *ngIf="fournisseur.telephone!=null">{{fournisseur.telephone | phoneNumber}}</td>
                    <td *ngIf="fournisseur.telephone==null"></td>
                    <td>{{fournisseur.adresse}}</td>
                    <td>{{fournisseur.cinb}}</td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" style="text-align: center">Aucun Fournisseur disponible</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                </tr>
            </ng-template>
        </p-table>
 </div>
    <div class="card secondary" [ngClass]="{'active': isSecondaryActive}" style="height: 100%;">
        <div class="headerfact">
            <div class="facture-header">
                <h5>{{selectedItem?.nom}}</h5>
                <span class="close-button" (click)="close()">&#10006;</span>
            </div>
            <div class="actions">
                <button *ngIf="droits.includes('MODIFIER_FOURNISSEUR')" class="btn" (click)="add(selectedItem)"
                ><i class="pi pi-pencil"></i>Modifier</button>

                <button *ngIf="droits.includes('SUPPRIMER_FOURNISSEUR')" class="btn" (click)="deleteElement(selectedItem)"
                ><i class="pi pi-trash"></i>Supprimer</button>
            </div>
        </div>
        <div class="folder-tabs">
            <ng-container *ngFor="let tab of tabs; let i = index">
                <div
                    class="folder-tab"
                    [class.active]="i === selectedTab"
                    (click)="selectTab(i)"
                    *ngIf="!(tab.label === 'Transactions' && !droits.includes('VOIR_FOURNISSEUR_TRANSACTION'))">
                    {{ tab.label }}
                </div>
            </ng-container>

        </div>
        <div class="folder-content">
            <ng-container *ngIf="selectedTab !== null">

                <div *ngIf="selectedTab === 0">
                    <div class="container">
                        <div class="container-custom">
                            <!-- Left Panel -->
                            <div class="left-panel">
                                <div class="profile-container">
                                    <img src="assets/demo/images/avatar/user2.png" alt="Profile Picture" class="profile-picture" width="50px" height="50px">
                                    <div class="user-details">
                                        <h5 class="user-name">{{selectedItem?.nom}} {{selectedItem?.prenom}}</h5>
                                        <p class="user-email">{{selectedItem?.mail}}</p>
                                        <p class="user-phone">{{selectedItem?.telephone}}</p>
                                    </div>
                                </div>
                                <br><br>
                                <div class="mb-3">
                                    <h6>Entreprise</h6>
                                    <p>{{selectedItem?.entreprise}}</p>
                                </div>
                                <div class="mb-3">
                                    <h6>Adresse</h6>
                                    <p>{{selectedItem?.adresse}}</p>
                                </div>
                            </div>
                            <!-- Right Panel -->
                            <div *ngIf="droits.includes('VOIR_FOURNISSEUR_HISTORIQUE')" class="right-panel">
                                <div class="mb-3">
                                    <h6>Historique du fournisseur</h6>
                                    <div class="timeline-container">
                                        <div class="timeline-item" *ngFor="let event of frshistoriques">
                                            <div class="timeline-date">
                                                <span>{{ event.date | customDate}}</span>
                                            </div>
                                            <div class="timeline-content">
                                                <h3>{{ event.type }}</h3>
                                                <p>{{ event.numero }}</p>
                                                <a href="#">Etablit par {{ event.faitPar }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedTab === 1">
                    <br>
                    <p-accordion>
                        <p-accordionTab>
                            <ng-template pTemplate="header">
                                Bon de commandes <span class="badge">{{ transactions?.boncommandeDTOS?.length }}</span>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-table #dt [globalFilterFields]="['nom','magasinLibelle','categorieLibelle','seuil','uniteMesureLibelle','prix','quantite','total','description']" [loading]="loading" [paginator]="true" [rowHover]="true"
                                         [rowsPerPageOptions]="[25,50,100]" [rows]="25"
                                         [value]="transactions?.boncommandeDTOS!"
                                         responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr class="large-row">
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Date
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    N° de commande Fournisseur
                                                </div>
                                            </th>

                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    N° réference
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Fournisseur
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Statut
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Montant
                                                </div>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-bon pTemplate="body">
                                        <tr style="padding-top: 10px; padding-bottom: 10px;"  class="large-row">
                                            <td>{{bon.date_commande | customDate}}</td>
                                            <td>{{ bon.numero}}</td>
                                            <td>{{ bon.numero_reference }}</td>
                                            <td>{{ bon.fournisseurNom }} {{ bon.fournisseurPrenom }}</td>
                                            <td>{{ bon.statut }}</td>
                                            <td>{{ bon.montant_total }}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="7" style="text-align: center">Aucun bon de commande lié à ce Fournisseur</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="loadingbody">
                                        <tr>
                                            <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-template>
                        </p-accordionTab>
                    </p-accordion>
                    <p-accordion>
                        <p-accordionTab>
                            <ng-template pTemplate="header">
                                Factures<span class="badge">{{ transactions?.facturesDTOS?.length }}</span>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-table #dt [globalFilterFields]="['nom','magasinLibelle','categorieLibelle','seuil','uniteMesureLibelle','prix','quantite','total','description']" [loading]="loading" [paginator]="true" [rowHover]="true"
                                         [rowsPerPageOptions]="[25,50,100]" [rows]="25"
                                         [value]="transactions?.facturesDTOS!"
                                         responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr class="large-row">
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Fournisseur
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Montant de la facture
                                                </div>
                                            </th>

                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Reste à verser au fournisseur
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Date de la facture
                                                </div>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-facture pTemplate="body">
                                        <tr style="padding-top: 10px; padding-bottom: 10px;"  class="large-row">
                                            <td>{{ facture.fournisseurNom }} {{ facture.fournisseurPrenom }}</td>
                                            <td>{{ facture.montant_total }}</td>
                                            <td style="color: red">{{ facture.reste |customNumber}}</td>
                                            <td>{{ facture.date_facture | customDate}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="7" style="text-align: center">Aucune facture liée à ce Fournisseur</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="loadingbody">
                                        <tr>
                                            <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-template>
                        </p-accordionTab>
                    </p-accordion>
                    <p-accordion>
                        <p-accordionTab>
                            <ng-template pTemplate="header">
                                Versements envers le fournisseur<span class="badge">{{ transactions?.recuDTOS?.length }}</span>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-table #dt [globalFilterFields]="['nom','magasinLibelle','categorieLibelle','seuil','uniteMesureLibelle','prix','quantite','total','description']" [loading]="loading" [paginator]="true" [rowHover]="true"
                                         [rowsPerPageOptions]="[25,50,100]" [rows]="25"
                                         [value]="transactions?.recuDTOS!"
                                         responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr class="large-row">
                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Numéro
                                                </div>
                                            </th>

                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Montant versé
                                                </div>
                                            </th>

                                            <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                                                <div class="flex justify-content-between align-items-center">
                                                    Date du paiement
                                                </div>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-recu pTemplate="body">
                                        <tr style="padding-top: 10px; padding-bottom: 10px;"  class="large-row">
                                            <td>{{ recu.numero }}</td>
                                            <td>{{ recu.montant }}</td>
                                            <td>{{ recu.date_paiement | customDate}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="7" style="text-align: center">Aucun paiement liée à ce Fournisseur</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="loadingbody">
                                        <tr>
                                            <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-template>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </ng-container>
        </div>
    </div>

</div>
<div *ngIf="displayForm" style="height: 100%;" class="container1">
    <div class="header-special" >
        <p style="font-size: large; margin-bottom: 25px">
            <i class="pi pi-user" style="font-size: 1.5rem"></i>
            Enregistrement d'un fournisseur
        </p>
        <button (click)="closeSection(editForm)" tooltipPosition="left"
                pTooltip="Retour sur la liste" class="p-button-primary small-button p-button-icon-only" icon="pi pi-arrow-left" pButton></button>
    </div>

    <form (ngSubmit)="save(editForm)" name="editForm" role="form" novalidate #editForm="ngForm">

        <h5>Informations générales</h5>

        <div class="form-group row align-items-center">
            <label style="color: red" class="col-sm-3 col-form-label">Nom du fournisseur</label>
            <div class="col-sm-9 ml-7">
                <input name="nom" type="text" pInputText [(ngModel)]="fournisseur.nom" required class="form-control"/>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label style="color: red" class="col-sm-3 col-form-label">Prénom(s)</label>
            <div class="col-sm-9 ml-7">
                <input name="prenom" type="text" pInputText [(ngModel)]="fournisseur.prenom" required class="form-control"/>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label">Entreprise</label>
            <div class="col-sm-9 ml-7">
                <input type="text" pInputText [(ngModel)]="fournisseur.entreprise" name="entreprise" class="form-control"/>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label">Téléphone</label>
            <div class="col-sm-9 ml-7">
                <input type="text" pInputText [(ngModel)]="fournisseur.telephone" name="telephone" appPhoneNumber class="form-control"/>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label">Adresse</label>
            <div class="col-sm-9 ml-7">
                <input name="adresse" type="text" pInputText [(ngModel)]="fournisseur.adresse" class="form-control"/>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label class="col-sm-3 col-form-label">CINB</label>
            <div class="col-sm-9 ml-7">
                <input name="cinb" type="text" pInputText [(ngModel)]="fournisseur.cinb" class="form-control"/>
            </div>
        </div>

    </form>

    <div style="bottom: 0; position: fixed; width: 100%" class="layout-footer p-d-flex p-ai-center p-p-4 p-shadow-z">
            <span style="font-weight: bold">

                <button *ngIf="createormodif" (click)="SaveChoice(editForm, 'continuer')" type="button" [disabled]="editForm.invalid || loading" class="btn btn-primary">
                    <i *ngIf="loading && display" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                    <span *ngIf="!loading || !display">Enregistrer et continuer</span>
                    <span *ngIf="loading && display">Enregistrement...</span>
                </button>

                 <button (click)="SaveChoice(editForm, 'enregistrer')" type="button" [disabled]="editForm.invalid || loading" class="btn btn-primary">
                    <i *ngIf="loading && !display" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                    <span *ngIf="!loading || display">Enregistrer et terminer</span>
                    <span *ngIf="loading && !display">Enregistrement...</span>
                </button>

                <button type="button" class="btn btn-secondary" (click)="annulate()" >Annuler</button>
            </span>
    </div>
</div>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle"
                 position="top" >
    <p-footer style="display: flex;">
        <button class="btnannulate" (click)="cd.reject()"
        ><i class="pi pi-close"></i>Annuler</button>
        <button class="btnvalidate" (click)="cd.accept()"
        ><i class="pi pi-confirm"></i>Confirmer</button>
    </p-footer>
</p-confirmDialog>
