
body {
    font-family: Arial, sans-serif;
}

.status {
    span {
        display: inline-block;
        padding: 4px 8px;
        color: #fff;
        border-radius: 3px;
        font-size: 0.875em;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

.status-en-attente {
    background-color: #6c757d; /* Gris pour en attente */
    color: #fff;
    text-transform: uppercase;
    padding: 4px 8px;
    font-size: 0.875em;
}

.status-partiellement-livree,
.status-partiellement-facture {
    background-color: #f0ad4e;
    color: #fff;
    text-transform: uppercase;
    padding: 4px 8px;
    font-size: 0.875em;/* Orange pour partiellement reçu / facturé */
}

.status-livree,
.status-facture {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    padding: 4px 8px;
    font-size: 0.875em;/* Bleu pour reçu / facturé */
}
