<p-toast position="top-center"></p-toast>
<div class="spinner-overlay" *ngIf="chrgmt">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
<div *ngIf="createOrModify" class="container1">
    <div class="header-special">
        <p style="font-size: large; margin-bottom: 25px">
            <i class="pi pi-shopping-bag" style="font-size: 1.5rem"></i>
            Bon de commande
        </p>
        <button (click)="retour()" class="p-button-primary small-button p-button-icon-only" icon="pi pi-arrow-left" pButton></button>
    </div>
    <p-messages [(value)]="messages!" [enableService]="false" [style]="{width: '50%'}"></p-messages>
    <form #bonCommand="ngForm" autocomplete="off" (ngSubmit)="onSubmit(bonCommand)" name="bonCommand" novalidate role="form">
        <!-- Première partie du formulaire -->
        <div class="form-group row" style="margin-top: 15px">
            <label style="color: red" class="col-label" >Nom du fournisseur</label>
            <div class="col-input">
                <p-dropdown [(ngModel)]="fournisseur" [filterBy]="'nom'" [filter]="true"
                            [options]="fournisseurs"
                            [required]="true" [showClear]="true" [style]="{width: '100%'}"
                            appendTo="body" name="fournisseur" optionLabel="nom"
                            placeholder="Sélectionner un fournisseur">
                    <ng-template let-fournisseurs pTemplate="item">
                        <div class="flex align-items-center fournisseurs-item">
                            <div>{{ fournisseurs?.nom }} &nbsp;&nbsp; {{ fournisseurs?.prenom }}</div>

                        </div>
                    </ng-template>
                    <ng-template let-fournisseurs pTemplate="selectedItem">
                        {{ fournisseurs?.nom }}&nbsp;&nbsp; {{ fournisseurs?.prenom }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="form-group row">
            <label style="color: red" class="col-label">N° de bon de commande</label>
            <div class="input-with-button">
                <input disabled [(ngModel)]="newBonCommandeNumber" id="bonCommandeNumber" name="bonCommandeNumber" pInputText type="text">
                <button (click)="customizeBonCommandeNumber()" class="icon-button" type="button">
                    <i class="pi pi-cog" style="font-size: 1.5rem"></i>
                </button>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-label" for="reference">N° de référence</label>
            <div class="col-input">
                <input [(ngModel)]="reference" id="reference" name="reference" pInputText type="text">
            </div>
        </div>

        <div class="form-group row">
            <label style="color: red" class="col-label">Date de la commande</label>
            <div class="col-input">
                <p-calendar [(ngModel)]="date" [required]="true" [style]="{width: '100%'}" dateFormat="dd MM yy"
                            name="date"></p-calendar>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-label" >Date de livraison prévue</label>
            <div class="col-input">
                <p-calendar (ngModelChange)="validateDeliveryDate()" [(ngModel)]="dateLivraison" [required]="true"
                            [style]="{width: '100%'}"
                            dateFormat="dd MM yy" name="dateLivraison"></p-calendar>
                <span *ngIf="!isDeliveryDateValid" style="color: red">La date de livraison doit être supérieure à la date de commande ou égale à la date de commande.</span>
            </div>
            <div class="error-message"></div>
        </div>

        <!-- Deuxième partie du formulaire -->
        <p style="font-size:medium; margin-top: 30px; font-weight: bold">Tableau de produis</p>
        <table class="article-table">
            <thead>
            <tr>
                <th>DÉTAILS DE L’ARTICLE</th>
                <th style="width: 150px;">QUANTITÉ</th>
                <th style="width: 150px;">PRIX (FCFA)</th>
                <th>TAXE (%)</th>
                <th>MONTANT (FCFA)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles; let i = index">
                <td>
                    <p-dropdown (onChange)="onArticleChange($event, i)"
                                [(ngModel)]="article.produitId"
                                [filterBy]="'nom'"
                                [filter]="true"
                                [name]="'article-' + i + '-id'"
                                [options]="articleOptions"
                                [required]="true"
                                [showClear]="true" [style]="{width: '200px'}"
                                (onClear)="onArticleClear(i)"
                                appendTo="body"
                                optionLabel="nom" optionValue="id"
                                placeholder="Sélectionner un produit"></p-dropdown>
                    <div *ngIf="article.produitId" class="flex flex-column align-items-center justify-content-end">
                     <!--   <button (click)="op.toggle($event)"
                                [label]="article.magasin ? article.magasin.magasinNom! : 'Sélectionner dépot'"
                                class="custom-button2"
                                icon="pi pi-shopping-cart" pButton
                                type="button"
                        ></button>-->
                        <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '600px' }">
                            <div style="height: 30px; font-size: 20px; justify-content: center; margin-left: 20px ">
                                Entrépots
                            </div>
                            <ng-template pTemplate="content">
                                <p-table
                                    (onRowSelect)="magasinSelect($event, op, i)"
                                    [(selection)]="article.magasin"
                                    [paginator]="true"
                                    [rows]="5"
                                    [value]="article.stocks!"
                                    responsiveLayout="scroll"
                                    selectionMode="single">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th rowspan="2">
                                                <input (input)="filterMagasins()" [(ngModel)]="searchQuery"
                                                       name="search_magasin"
                                                       pInputText
                                                       placeholder="Rechercher un dépot..."
                                                />
                                            </th>
                                            <th colspan="3" style="text-align: center; color: #8c8989">Stock Physique
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="color: #8c8989">Stock Disponible</th>
                                            <th style="color: #8c8989">Stock Engagé</th>
                                            <th style="color: #8c8989">Disponible à la Vente</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-stock pTemplate="body">
                                        <tr [pSelectableRow]="stock">
                                            <td>{{ stock.magasinNom }}</td>
                                            <td>{{ stock.stock_physique_dispo | customNumber}}</td>
                                            <td>{{ stock.stock_physique_engage | customNumber}}</td>
                                            <td>{{ stock.stock_physique_dispo_vente | customNumber}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-template>
                        </p-overlayPanel>
                        <!--<p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '600px' }">
                            <div style="height: 30px; font-size: 20px; justify-content: center; margin-left: 20px ">
                                Entrepôts
                            </div>
                            <ng-template pTemplate="content">
                                <p-table
                                    (onRowSelect)="magasinSelect($event, op, i)"
                                    [(selection)]="article.magasin"
                                    [paginator]="true"
                                    [rows]="5"
                                    [value]="magasins"
                                    responsiveLayout="scroll"
                                    selectionMode="single">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th rowspan="2">
                                                <input (input)="filterMagasins()" [(ngModel)]="searchQuery"
                                                       name="search_magasin"
                                                       pInputText
                                                       placeholder="Rechercher un magasin..."
                                                />
                                            </th>
                                            <th colspan="3" style="text-align: center;  color: #8c8989">Stock Pysique
                                            </th>
                                        </tr>
                                        <tr>
                                        </tr>

                                    </ng-template>
                                    <ng-template let-magasin let-rowData pTemplate="body">
                                        <tr [pSelectableRow]="rowData">
                                            <td>
                                                {{ magasin.nom }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-template>
                        </p-overlayPanel>-->
                    </div>
                </td>
                <td>
                    <p-inputNumber [name]="'article-' + i + '-quantite'" pInputNumber
                                   [showButtons]="true" mode="decimal"
                                   mode="decimal"  [maxFractionDigits]="2"
                                   [(ngModel)]="article.quantite "  [style]="{'width': '150px', 'min-width': '120px'}" [min]="1"
                                   locale="de-DE" [minFractionDigits]="0" (onInput)="onQuantiteChange($event, i)">
                    </p-inputNumber>
                </td>
                <td>
                    <p-inputNumber [name]="'article-' + i + '-prix'" pInputNumber [showButtons]="true"
                                   [(ngModel)]="article.produitPrix"   [style]="{'width': '150px', 'min-width': '120px'}"  [min]="0"
                                   locale="de-DE" [minFractionDigits]="0" (onInput)="onPrixChange($event, i)">
                    </p-inputNumber>
                </td>
                <td>
                    <p-dropdown (onChange)="onTaxeChange($event, i)"
                                [(ngModel)]="article.taxe"
                                [filterBy]="'libelle'"
                                [filter]="true"
                                [name]="'article-' + i + '-taxe'"
                                [options]="taxes"
                                [showClear]="true"
                                [style]="{width: '200px'}" appendTo="body"
                                placeholder="Sélectionner une taxe">
                        <ng-template let-taxes pTemplate="item">
                            <div class="flex align-items-center fournisseurs-item">
                                <div>{{ taxes?.label }} &nbsp;&nbsp; [{{ taxes?.value }}%]</div>
                            </div>
                        </ng-template>
                        <ng-template let-taxes pTemplate="selectedItem">
                            <div>{{ taxes?.label }} &nbsp;&nbsp; [{{ taxes?.value }}%]</div>
                        </ng-template>
                    </p-dropdown>
                </td>
                <td style="width: 150px;">{{ article.montant.toFixed(2) | customNumber }}</td>
                <td>
                    <button (click)="supprimerLigne(i)"
                            [disabled]="articles.length === 1"
                            class="p-button-danger small-button"
                            icon="pi pi-trash"
                            pButton
                            type="button"></button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="form-group row2">
            <div class="actions">
                <button (click)="ajouterLigne()" class="p-button p-button-secondary custom-button small-button"
                        icon="pi pi-plus" label="Ajouter une nouvelle ligne"
                        pButton
                        type="button"></button>
            </div>

            <div class="totals">
                <div class="totals-row">
                    <div>
                        <label>Sous-total</label>
                    </div>
                    <div>
                        <label>Remise</label>
                    </div>
                    <div>
                        <label>Ajustement</label>
                    </div>
                    <div>
                        <label style="font-weight: bold; font-size: 15px">Total</label>
                    </div>
                </div>
                <div class="totals-row2">
                    <div></div>
                    <div class="jhb" >
                            <p-inputNumber styleClass="input-styling" name="remise" pInputNumber [showButtons]="true"
                                           [(ngModel)]="remise" [min]="0" mode="decimal"   [maxFractionDigits]="2"
                                           locale="de-DE" [minFractionDigits]="0" (onInput)="onRemiseChange($event)">
                            </p-inputNumber>

                      <p-dropdown (onChange)="calculerTotal()" [(ngModel)]="remiseType" [options]="remiseOptions"
                                        [style]="{width: '90px'}"
                                        name="remiseDropdown"></p-dropdown>
                    </div>
                    <div class="jhb2">
                        <p-inputNumber styleClass="input-styling" name="ajustement" pInputNumber  [showButtons]="true"
                                       [(ngModel)]="ajustement" mode="decimal"  [minFractionDigits]="2" [maxFractionDigits]="2"
                                       locale="de-DE" (onInput)="onAjustementChange($event)">
                        </p-inputNumber>
                    </div>
                    <div></div>
                </div>
                <div class="totals-row3">
                    <div><span>{{ sousTotal | customNumber}}</span></div>
                    <div >(-){{remise | customNumber}}</div>
                    <div>{{ajustement | customNumber}}</div>
                    <div><span style="font-weight: bold; font-size: 15px">{{ total | customNumber}}</span></div>
                </div>
            </div>
        </div>
        <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
            {{ errorMessage }}
        </div>
        <div style="bottom: 0; position: fixed; width: 100%" class="layout-footer p-d-flex p-ai-center p-p-4 p-shadow-z">
            <span style="font-weight: bold">

                 <button  type="submit"  class="btn btn-primary">
                    <span >Enregistrer</span>

                </button>
                <button type="button" (click)="cancel()" class="btn btn-secondary" >Annuler</button>
            </span>
        </div>
        <!--<div class="fixed-action-buttons">
            <button class="blue-button small-button" label="Enregistrer et envoyer" pButton type="submit"></button>
            <button (click)="cancel()" class="p-button p-button-secondary custom-button small-button" label="Annuler"
                    pButton
                    type="button"></button>
        </div>-->
    </form>
        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle"
                         position="top" >
            <p-footer style="display: flex;">
                <button class="btnannulate" (click)="cd.reject()"
                ><i class="pi pi-close"></i>Annuler</button>
                <button class="btnvalidate" (click)="cd.accept()"
                ><i class="pi pi-confirm"></i>Confirmer</button>
            </p-footer>
        </p-confirmDialog>
</div>


<div *ngIf="!createOrModify" style="display: flex; ">
    <div [ngClass]="{'shrink': isSecondaryActive}" class="card primary" style="height: 100%;">
        <div class="header55">
            <h1>Tous les bons de commande</h1>
            <div class="header-actions">
                <button *ngIf="droits.includes('AJOUTER_COMMANDE_FOURNISSEUR')" (click)="createModify({})" class="p-button-primary small-button" pButton><i
                        class="pi pi-plus"></i>Nouveau
                </button>
                <button class="p-button-secondary small-button p-button-icon-only" icon="pi pi-ellipsis-v"
                        pButton></button>
            </div>
        </div>
        <p-table #dt
                 [globalFilterFields]="['date_commande','numero','fournisseurNom','statutfacture']"
                 [loading]="loading" [paginator]="true" [rowHover]="true"
                 selectionMode="single" [(selection)]="bonCommande" dataKey="id"
                 [rowsPerPageOptions]="[25,50,100]" [rows]="25"
                 [value]="bonCommandes"
                 responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
                                   placeholder="Rechercher" class="w-full"/>
						</span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="large-row">
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Date
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Bon de commande
                        </div>
                    </th>

                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            N° référence
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Fournisseur
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Facturé
                        </div>
                    </th>

                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Reçu
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Montant
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: rgb(236,236,236)">
                        <div class="flex justify-content-between align-items-center">
                            Date de livraison prévue
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template let-bon pTemplate="body">
                <tr (click)="onRowSelect(bon)" [pSelectableRow]="bon" style="padding-top: 10px; padding-bottom: 10px;"  class="large-row">
                    <td>{{bon.date_commande | customDate}}</td>
                    <td>{{ bon.numero}}</td>
                    <td>{{ bon.numero_reference }}</td>
                    <td>{{ bon.fournisseurNom }}</td>
                    <td>
                    <span [ngClass]="{
                        'status-reglee': bon.statutreglee === 'REGLEE',
                        'status-partiellement-reglee': bon.statutreglee === 'PARTIELLEMENT_REGLEE',
                        'status-en-attente': bon.statutreglee === 'EN_ATTENTE'}">
                        {{ formatStatus(bon.statutreglee) }}
                    </span>
                    </td>
                    <td>
                <span [ngClass]="{
                    'status-en-attente': bon.statutreception === 'EN_ATTENTE',
                    'status-partiellement-recue': bon.statutreception === 'PARTIELLEMENT_RECU',
                    'status-recue': bon.statutreception === 'RECU'
                }">
                    {{ formatStatus(bon.statutreception) }}
                </span>
                    </td>
                    <td>{{ bon.montant_total | customNumber}} FCFA</td>
                    <td>{{ bon.date_livraison | customDate}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Au total il y'a {{bonCommandes.length}} Bon de commande(s).
                </div>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7" style="text-align: center">Chargement de données, veuillez patienter...</td>
                </tr>
            </ng-template>
        </p-table>


        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle"
                         position="top">
            <p-footer>
                <button (click)="cd.reject()" class="p-button-help" icon="pi pi-times" label="Annuler"
                        pButton type="button"></button>
                <button (click)="cd.accept()" class="p-button-primary" icon="pi pi-check" label="Confirmer"
                        pButton type="button"></button>
            </p-footer>
        </p-confirmDialog>
    </div>
    <div [ngClass]="{'active': isSecondaryActive}" class="card secondary" style="height: 100%;">
        <div class="headerfact">
            <div class="facture-header">
                <h5>{{bonCommande.numero}}</h5>
                <span class="close-button" (click)="close()">&#10006;</span>
            </div>
            <div class="actions">
                <button *ngIf="!hasFacture && droits.includes('MODIFIER_COMMANDE_FOURNISSEUR')" (click)="createModify(bonCommande)" class="btn">
                    <i class="pi pi-pencil"></i> Modifier
                </button>
                <button class="btn" (click)="exportPDF()">
                    <i class="pi pi-file-pdf"></i> PDF/Impression <i class="fas fa-caret-down"></i>
                </button>
                <button *ngIf="!allQuantitiesMatch3 && droits.includes('AJOUTER_RECEPTION_ACHAT')" class="btn" (click)="make_a_reception(bonCommande.id!)">
                    <i class="pi pi-receipt"></i> Avis de réception
                </button>
                <button *ngIf="!allQuantitiesMatch2 && droits.includes('AJOUTER_FACTURE_FOURNISSEUR')" class="btn" (click)="convertToFacture(bonCommande.id!)">
                    <i class="pi pi-receipt"></i> Convertir en facture fournisseur
                </button>
                <button  *ngIf="!hasFacture && droits.includes('SUPPRIMER_COMMANDE_FOURNISSEUR')" class="btn" (click)="deleteElement(bonCommande)"
                ><i class="pi pi-trash"></i>Supprimer</button>
                <button class="btn">
                    <i class="pi pi-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <p-accordion>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    Avis de réception <span class="badge">{{ bonCommande.receptions?.length }}</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-table [value]="bonCommande.receptions!">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>N° de réception</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-reception>
                            <tr>
                                <td>{{ reception.numero }}</td>
                                <td>{{ reception.dateReception | customDate }}</td>
                                <td>
                                    <button pButton type="button" icon="pi pi-eye" class="p-button-text" (click)="viewReception(reception)"></button>
                                    <button pButton type="button" icon="pi pi-trash" class="p-button-text" (click)="deleteReception(reception)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
        <p-accordion>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    Factures <span class="badge">{{ bonCommande.factures?.length }}</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-table [value]="bonCommande.factures!">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>N° de facture</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-facture>
                            <tr>
                                <td>{{ facture.numero }}</td>
                                <td>{{ facture.date_facture | customDate }}</td>
                                <td>
                                    <button pButton type="button" icon="pi pi-eye" class="p-button-text" (click)="viewFacture(facture)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
        <br>
        <h6>Vue en mode PDF <p-inputSwitch [(ngModel)]="checked" /></h6>
        <div class="bon-commande-detail" *ngIf="!checked">
            <div class="main-content">
                <div class="info-section">
                    <div class="info-block">
                        <div class="bc">BON COMMANDE</div>
                        <div style=" margin-top: 5px;"><strong>N° de bon de commande</strong> :  {{bonCommande.numero}}
                        </div>
                        <br/>
                        <br/>
                        <div class="div-right-left">
                            <div class="div-right">
                                <div>Facture</div>
                                <div>Recu</div>
                            </div>
                            <div class="div-left">
                                <div>
            <span [ngClass]="{
                'status-en-attente': bonCommande.statutreglee === 'EN_ATTENTE',
                'status-partiellement-reglee': bonCommande.statutreglee === 'PARTIELLEMENT_REGLEE',
                'status-reglee': bonCommande.statutreglee === 'REGLEE'
            }">
                {{ formatStatus(bonCommande.statutreglee) }}
            </span>
                                </div>
                                <div>
            <span [ngClass]="{
                'status-en-attente': bonCommande.statutreception === 'EN_ATTENTE',
                'status-partiellement-recue': bonCommande.statutreception === 'PARTIELLEMENT_RECU',
                'status-recue': bonCommande.statutreception === 'RECU'
            }">
                {{ formatStatus(bonCommande.statutreception) }}
            </span>
                                </div>
                            </div>
                        </div>
                        <div class="div-right-left">
                            <div class="div-right">
                                <div>N° de référence</div>
                                <div>Date de la commande</div>
                                <div>Date de livraison</div>
                            </div>
                            <div class="div-left">
                                <div> {{ bonCommande.numero_reference ? bonCommande.numero_reference : 'non spécifié' }}</div>
                                <div>{{bonCommande.date_commande | customDate}}</div>
                                <div> {{bonCommande.date_livraison | customDate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="address-block">
                    </div>
                </div>

                <div class="articles-section">
                    <table>
                        <thead>
                        <tr>
                            <th>Produis et description</th>
                            <th>Commandé</th>
                            <th>Reçu</th>
                            <th>Facturée</th>
                            <th>Magasin</th>
                            <th>Prix</th>
                            <th>Taxe</th>
                            <th>Montant</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of commandes">
                            <td>{{ item.produitNom }}</td>
                            <td>{{ item.quantite! | customNumber}}</td>
                            <td>{{ item.quantiterecue! }}</td>
                            <td>{{ item.quantitereglee! }}</td>
                            <td>{{ item.magasinNom! }}</td>
                            <td>{{ item.produitPrix! | customNumber}} FCFA</td>
                            <td>{{ item.taxeLibelle}} ({{ item.taxehauteur != null ? item.taxehauteur : 0 }}) %</td>
                            <td>
                                {{
                                (item.quantite! * item.produitPrix! *
                                    (item.taxehauteur != null ? (1 + item.taxehauteur! / 100) : 1))
                                    .toFixed(2) | customNumber
                                }} FCFA
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="total-section">
                    <div class="div-right-left2">
                        <div class="div-right">
                            <div>Sous-total:</div>
                            <div>Remise:</div>
                            <div>Ajustement:</div>
                            <div>Total:</div>
                        </div>
                        <div class="div-left">
                            <div> {{bonCommande.sous_total | customNumber}} FCFA</div>
                            <div>(-){{bonCommande.remise | customNumber}} FCFA</div>
                            <div>{{bonCommande.ajustement | customNumber}} FCFA</div>
                            <div>  {{bonCommande.montant_total | customNumber}} FCFA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="commande-client" id="commandeClient" *ngIf="checked">

            <div class="title">
                <div class="company-info">
                    <div class="upload">
                        <img style="margin-right: 1050px" width = 50 height = 50 alt="" *ngIf="societegetted.logo" src="data:image/PNG; base64,{{societegetted.logo}}">
                        <img style="margin-right: 1050px" *ngIf="!societegetted.logo" src="assets/layout/images/gstock.png" width = 50 height = 50 alt="">
                    </div>
                </div>
                <div class="info">
                    <p>{{societegetted.nom}}<br>Burkina Faso<br>{{ societegetted.tel }}<br>{{societegetted.email}}</p>
                </div>
            </div>
            <div class="order-info" style="margin-top: -120px">
                <p><strong>BON DE COMMANDE</strong></p>
                <p><strong>N° du bon de commande :</strong> {{bonCommande.numero}}</p>
                <p><strong>Date de la commande :</strong> {{bonCommande.date_commande | customDate}}</p>
                <p><strong>Date de réception prévue :</strong> {{bonCommande.date_livraison | customDate}}</p>
            </div>
            <div class="billing-info">
                <p><strong>Livrer à :</strong><br>{{societegetted.nom}}</p>
            </div>
            <div class="article-section">
                <table>
                    <thead>
                    <tr>
                        <th>Article & Description</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of commandes">
                        <td>{{ item.produitNom }}</td>
                        <td>{{ item.quantite | customNumber}}</td>
                        <td>{{ item.produitPrix | customNumber}} FCFA</td>
                        <td>{{ item.quantite! * item.produitPrix! | customNumber}} FCFA</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="total-section">
                <p><strong>Sous-total:</strong> {{ bonCommande.sous_total | customNumber}} FCFA</p>
                <p><strong>Total:</strong> {{ bonCommande.montant_total | customNumber}} FCFA</p>
            </div>
        </div>

    </div>
</div>
